{% load staticfiles %}
<html>

    <head>

        {# Load the tag library #}
        {% load bootstrap3 %}

        {# Load CSS  #}
        {% bootstrap_css %}

        {# Load user designed css files #}
         <link href="{%  static 'css/style.css' %}" rel="stylesheet" media="screen"/>
    </head>

    <body>

        {# If the user is a voter show the top navigation #}
        {% if voter %}
            {% include 'nav.html' %}

        {# Otherwise the user is an admin, show the side navigation #}
        {% else %}
            {% include 'admin/admin_nav.html' %}
        {% endif %}

        {# Views that extend block content will be rendered between block content and endblock #}
        <div class="central">
            {% block content %}
            {% endblock %}
        </div>

        {# Load jquery resources #}
{#        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>#}
{#        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>#}

        {# Load JS files #}
        {% bootstrap_javascript %}
        <script src="{% static 'js/nav.js' %}" type="text/javascript"></script>
    </body>

</html>

{# Display django.contrib.messages as Bootstrap alerts #}
{#{% bootstrap_messages %}#}