{% extends 'base.html' %}

{% block content %}
    <div class="container">
		<div class="row">
			<div class="col-sm-6 well">
			<h4>President</h4>
			<table class="table">
                <tr>
					<td>Name</td>
					<td>Vote</td>
				</tr>
				<tr>
					<td>Japheth Obala</td>
					<td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
				</tr>
				<tr>
					<td>John Doe</td>
					<td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
				</tr>
				<tr>
					<td>Sam Esmail</td>
					<td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
				</tr>
			</table>
                </div>
            </div>

            <div class="row">
			<div class="col-sm-6 well">
			<h4>Vice President</h4>
			<table class="table">
                <tr>
					<td>Name</td>
					<td>Votes</td>
				</tr>
				<tr>
					<td>Japheth Obala</td>
					<td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
				</tr>
				<tr>
					<td>John Doe</td>
					<td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
				</tr>
				<tr>
					<td>Sam Esmail</td>
					<td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
				</tr>
			</table>
                </div>
            </div>

            <div class="row">
			<div class="col-sm-6 well">
			<h4>Secretary General</h4>
			<table class="table">
                <tr>
					<td>Name</td>
					<td>Votes</td>
				</tr>
				<tr>
					<td>Japheth Obala</td>
					<td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
				</tr>
				<tr>
					<td>John Doe</td>
					<td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
				</tr>
				<tr>
					<td>Sam Esmail</td>
					<td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
				</tr>
			</table>
                </div>
            </div>
        </div>
{% endblock %}